<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OmniViewer</title>
    <link rel="shortcut icon" type="image/png" href="/static/images/logo.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <!-- Nav bar -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/static/images/brand.png" height="30" class="d-inline-block align-top mr-2" alt=""> OmniViewer
        </a>
    </nav>

    <!-- Logo -->
    <div class="container home-logo">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="/static/images/logo.png" width="300" alt="home_logo">
                </div>
            </div>
        </div>
    </div>

    <!-- Search bar -->
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-8 mx-auto">
                <div class="p-5">
                    <form action="/viewer/" method="POST">{% csrf_token %}
                        <div class="p-1 rounded rounded-pill border border-primary shadow-sm">
                            <div class="input-group">
                                <input required type="search" placeholder="Enter your search input" aria-describedby="searchBtn" class="rounded-pill form-control border-0 searchBar" name="search_query">
                                <div class="input-group-append">
                                    <button id="searchBtn" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright footer -->
    <div class="text-center mt-5">
        <p>&copy; Li Shenggui</p>
        <a href="https://github.com/FrankLeeeee/OmniViewer">
            <img class="mb-5" src="../static/images/github-logo.png" height="20px">
        </a>
    </div>

    <!-- Update modal -->
    <div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="update-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="update-modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body" id="update-modal-body">
                </div>
                <div class="modal-footer">
                    <label class="checkbox-inline ml-3"><input type="checkbox" value='false' class='mr-2' id="show_again_checkbox">Do not show again</label>
                    <button type="button" class="btn btn-primary" id="update_btn">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Check update -->
    <script>
        document.getElementById('update_btn').addEventListener('click', function(event) {
            if (document.getElementById('show_again_checkbox').checked) {
                window.localStorage['show_again'] = false
            } else {
                window.localStorage['show_again'] = true
            }
            $("#update-modal").modal('hide')
        })

        $(document).ready(function() {
            $.ajax({
                url: '/api/update/',
                type: 'GET',
                dataType: "json",
                contentType: 'application/json;charset=UTF-8',
                success: function(response) {
                    var version = window.localStorage['version']
                    var show_again = window.localStorage['show_again']
                    console.log(show_again)
                    if (version != response.version || show_again == undefined || show_again) {
                        window.localStorage['version'] = response.version
                        document.getElementById("update-modal-title").innerHTML = `新版本 ${response.version}`
                        var content = document.getElementById("update-modal-body")
                        var new_features = response.update_log.new_features
                        var optimization = response.update_log.optimization
                        var bug_fix = response.update_log.bug_fix

                        content.innerHTML = content.innerHTML + `新增<br>${new_features.join("<br>")}<br><br>优化<br>${optimization.join('<br>')}<br><br>修复<br>${bug_fix.join('<br>')}`
                        $("#update-modal").modal()
                    }
                },
                error: function(xhr, status, error) {
                    console.log("Failed to get update information")
                }
            });
        });
    </script>

</body>