<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>OmniViewer - User Manual</title>
    <link rel="shortcut icon" type="image/png" href="/static/images/logo.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/user_manual_style.css?v=0.4">
</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><img src="/static/images/logo.png" width="25" alt="home_logo" class="float-left mr-2">OmniViewer </div>
            <div class="list-group ist-group-flush" id="myList" role="tablist">
                <a class="list-group-item list-group-item-action active" data-toggle="list" href="#search" role="tab">Search</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#file-system" role="tab">File System</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#image" role="tab">Image</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#video" role="tab">Video</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#detection" role="tab">Detection</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-tsv" role="tab">List & TSV</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div class="tab-content container-fluid">
            <!-- Expand button -->
            <div class="container-fluid">
                <button class="btn btn-primary float-right m-3" id="menu-toggle"><i class="fas fa-expand"></i></button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <!-- /#expand button -->

            <div class="tab-pane active container" id="search" role="tabpanel">
                <div class="mb-5">
                    <h1>
                        Search
                    </h1>
                </div>
                <div class="text-center">
                    <img src="/static/manual_image/search_1.png" width="60%">
                    <figcaption>search page</figcaption>
                </div>
                <br>
                <div>
                    <p>
                        用户界面设计为一个搜索页面，用户可以搜索访问任何有权限和路径和媒体文件。
                    </p>
                    <table class="table table-hover table-dark">
                        <thead>
                            <tr>
                                <th scope="col">输入路径</th>
                                <th scope="col">规则</th>
                                <th scope="col">例子</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">文件夹</th>
                                <td>必须是绝对路径</td>
                                <td>/home/shenggui</td>
                            </tr>
                            <tr>
                                <th scope="row">图片文件</th>
                                <td>必须是绝对路径，后缀名为"jpg", "jpeg", "png", "tiff", "gif", "webp"</td>
                                <td>/home/shenggui/sample.jpg</td>
                            </tr>
                            <tr>
                                <th scope="row">视频文件</th>
                                <td>必须是绝对路径，后缀名为“mp4”</td>
                                <td>/home/shenggui/sample.mp4</td>
                            </tr>
                            <tr>
                                <th scope="row">list文件</th>
                                <td>必须是绝对路径，后缀名为"list”， 文件里的每一个行为一个路径</td>
                                <td>/home/shenggui/sample.list</td>
                            </tr>
                            <tr>
                                <th scope="row">tsv文件</th>
                                <td>必须是绝对路径，后缀名为"tsv"，通常用于分类问题</td>
                                <td>/home/shenggui/sample.tsv</td>
                            </tr>
                            <tr>
                                <th scope="row">detn文件</th>
                                <td>必须是绝对路径，后缀名为"detn", 文件里的每一行为一个json的detection标注文件路径</td>
                                <td>/home/shenggui/sample.detn</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane container" id="file-system" role="tabpanel">
                <div class="mb-5">
                    <h1>
                        File System
                    </h1>
                </div>
                <div class="text-center">
                    <img src="/static/manual_image/file_system_1.png" width="60%">
                    <figcaption>search results</figcaption>
                </div>
                <br>
                <p>
                    在输入了路径之后，网页会显示当前路径下的文件。如果需要在当前路径下过滤一下搜索结果，可以在右上角filter处输入关键词过滤。 双击可以直接打开文件夹，图片，mp4格式的视频，list、tsv和detn后缀的文件。
                </p>
            </div>

            <div class="tab-pane container" id="image" role="tabpanel">
                <div class="mb-5">
                    <h1>
                        Image
                    </h1>
                </div>
                <div class="text-center">
                    <img src="/static/manual_image/image_1.png" width="60%">
                    <figcaption>thumbnail</figcaption>
                </div>
                <div class="text-center">
                    <img src="/static/manual_image/image_2.png " width="60% ">
                    <figcaption>original image</figcaption>
                </div>
                <br>
                <p>
                    对于支持格式的图片，网页会先显示缩略图。双击可以看大图，并且进行缩放以及下载。在看大图时点击图片关闭。
                </p>
            </div>

            <div class="tab-pane container " id="video" role="tabpanel ">
                <div class="mb-5 ">
                    <h1>
                        Video
                    </h1>
                </div>
                <div class="text-center ">
                    <img src="/static/manual_image/video_1.png " width="60% ">
                    <figcaption>thumbnail</figcaption>
                </div>
                <div class="text-center ">
                    <img src="/static/manual_image/video_2.png " width="60% ">
                    <figcaption>watch video</figcaption>
                </div>
                <br>
                <p>
                    MP4格式的视频文件有一个统一的图标，双击可以进行播放视频。视频以数据流的形式播放，占用带宽低。点击右上角的X关闭视频。
                </p>
            </div>

            <div class="tab-pane container " id="detection" role="tabpanel ">
                <div class="mb-5 ">
                    <h1>
                        Detection
                    </h1>
                </div>
                <div class="text-center ">
                    <img src="/static/manual_image/detection_1.png " width="30% ">
                    <figcaption>detection json</figcaption>
                </div>
                <br>
                <p>
                    文件为一个后缀必须为detn的list文件，文件里的每一行为一个json文件的路径，json文件必须遵循上图的格式。
                </p>
            </div>

            <div class="tab-pane container " id="list-tsv" role="tabpanel ">
                <div class="mb-5 ">
                    <h1>
                        List & TSV
                    </h1>
                </div>
                <div class="text-center ">
                    <img src="/static/manual_image/list_1.png " width="60% ">
                    <figcaption>list & tsv</figcaption>
                </div>
                <br>
                <p>
                    文件为一个后缀为list或者tsv的文件，文件里的每一行为一张图片或者视频的路径，如果为tsv文件，可以点击stats这个tab来显示统计数据。
                </p>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle ").click(function(e) {
            e.preventDefault();
            $("#wrapper ").toggleClass("toggled ");
        });
    </script>

</body>

</html>